<ion-content>
    <ion-slides pager="true" [ngStyle]="{'background-color': configuration.color_principal}" style="color:white" [options]="slideOptions" #slides>
        <ion-slide *ngFor="let rule of rules; let i = index">
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <div class="slide-img-padding">
                            <img src="http://localhost:8888/adminlte-generator/public/imagerules/{{rule.id}}/{{rule.image}}">
                            <ion-icon *ngIf="rule.id < count" class="animate" name="arrow-round-forward"></ion-icon>
                        </div>
                        <div no-padding class="m-0">
                            <h3 [innerHTML]="rule.title"></h3>
                        </div>
                        <div>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="12" class="t-left">
                                        <ul>
                                            <li *ngFor="let desc of rule.descriptions.description">{{desc.description}}</li>
                                        </ul>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <ion-button [color]="green" *ngIf="(i+1) === count" (click)="Confirmar()">Entendido</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

</ion-content>