ion-slide {
    display: block;
    height: 100%;
}

.slide-img-padding {
    padding: 40px;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
}

ion-icon {
    font-size: 30px;
}

img {
    width: 60%;
}

li {
    text-align: left;
}

.t-left {
    text-align: left;
}

img {
    max-height: 600px;
}

h3 {
    font-size: 30px;
    font-weight: lighter;
}

.btn-primary {
    height: 60px;
}

ion-slides {
    --bullet-background: black;
    --bullet-background-active: white;
    height: 100%;
}

@media screen and(max-height:775px) {
    img {
        width: 70%;
    }
}

.logo {
    border-bottom: 2px solid var(--ion-color-primary-tint);
    padding-bottom: 32px;
}

.logo-img {
    height: 105px;
}

.accent-text {
    color: var(--ion-color-primary);
}

ion-input {
    --color: var(--ion-color-primary-tint);
    text-align: center;
    --placeholder-opacity: 1;
}

ion-card {
    height: 100%;
}

.no-border {
    border: 0;
}

ion-button {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

ion-card {
    border-bottom: 6px solid;
}

ion-card-content {
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

ion-content {
    --background: #ffffff;
    .contain {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        padding-top: 16px;
        ion-grid {
            width: 100%;
        }
        .end-button {
            margin-top: auto !important;
            border-radius: 0;
            ion-col {
                margin: 15px 0;
                &:first-child {
                    border-right: 1px solid var(--ion-color-secondary);
                }
            }
            ion-button {
                margin: 0 auto;
                display: block;
                font-size: 10px
            }
        }
    }
}

.m-card-content {
    margin: 50px 0px 50px 0px;
}

.mt-50 {
    margin-top: 50px;
}

.m-btn-r {
    margin-top: 35px !important;
}

.backimage {
    background-image: url('../../assets/img/back.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.color {
    background: #006DAE;
    color: white;
}

.backBtn {
    position: absolute;
    left: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
    background: red;
}

.animate {
    animation: infinite;
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: arrow;
    animation-duration: 2s infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes arrow {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 20px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}


/* Standard syntax */

@keyframes arrow {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: 20px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.nextBtn {
    position: absolute;
    right: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
    background: green;
}

//Ipad
@media screen and (min-width: 700px) and (min-height: 700px) {
    ion-card-content {
        margin: 50px !important;
        margin-top: 90px !important;
    }
    img {
        width: 30% !important;
    }
    form {
        margin: 40px !important;
    }
}

@media screen and(min-width: 700px) {
    .m-card-content {
        margin: 0px 0px 0px 0px;
    }
}

//Phone
@media screen and (max-width: 700px) {
    ion-item {
        padding-top: 30px !important;
    }
    ion-card-content {
        height: 100%;
        margin: 0px !important;
    }
}

@media screen and (min-height:300px) and (max-height: 375px) {
    ion-card {
        height: 700px !important;
    }
}