<ion-header>
    <ion-toolbar>
        <ion-title text-center class="no-border">Datos del visitante</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="backimage" no-margin>
        <ion-card-content class="m-card-content">
            <p>Los campos con * son obligatorios</p>
            <form [formGroup]="registerForm" novalidate>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Nombres*</ion-label>
                    <ion-input type="text" [(ngModel)]="nameexist" formControlName="name" [class.invalid]="!registerForm.controls.name.valid && registerForm.controls.name.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Apellidos*</ion-label>
                    <ion-input no-lines type="text" [(ngModel)]="lastnameexist" formControlName="lastname" [class.invalid]="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Telefono*</ion-label>
                    <ion-input no-lines type="number" formControlName="phone" [class.invalid]="!registerForm.controls.phone.valid && registerForm.controls.phone.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Empresa*</ion-label>
                    <ion-select [(ngModel)]="companyselected" placeholder="Selecciona tu Empresa" #Company (ionChange)='onChangeTimeCompany(Company.value)' formControlName="company" [class.invalid]="!registerForm.controls.company.valid && registerForm.controls.company.touched">
                        <ion-select-option *ngFor="let company of companies;let i=index" value="{{company.id_company}}">{{company.company}}</ion-select-option>
                        <ion-select-option value="other">Otro</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="companyselected == 'other'" class="btm-blue">
                    <ion-label position="fixed">Cuál Empresa</ion-label>
                    <ion-input no-lines type="text" formControlName="othercompany" [class.invalid]="!registerForm.controls.othercompany.valid && registerForm.controls.othercompany.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Email*</ion-label>
                    <ion-input no-lines type="text" autocomplete=“false” spellcheck=“false” formControlName="email" [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Rh*</ion-label>
                    <ion-select *ngIf="rhexistname == ''" #RH (ionChange)='onChangeTimeRh(RH.value)' [(ngModel)]="rhselect" formControlName="rh" placeholder="Selecciona tu Rh" [class.invalid]="!registerForm.controls.rh.valid && registerForm.controls.rh.touched">
                        <ion-select-option *ngFor="let rhh of rh;let i=index" value="{{rhh.id}}">{{rhh.rh}}</ion-select-option>
                    </ion-select>
                    <ion-select *ngIf="rhexistname != ''" placeholder="HOLA TUENE{{rhexistname}}">
                        <ion-select-option selected="true" value="{{rhexist}}">{{ rhexistname }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Eps*</ion-label>
                    <ion-select [(ngModel)]="epsselected" placeholder="Selecciona tu Eps" formControlName="eps" [class.invalid]="!registerForm.controls.eps.valid && registerForm.controls.eps.touched">
                        <ion-select-option *ngFor="let epss of eps;let i=index" value="{{epss.id_eps}}">{{epss.eps}}</ion-select-option>
                        <ion-select-option value="other">Otro</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="epsselected == 'other'" class="btm-blue">
                    <ion-label position="fixed">Cuál Eps</ion-label>
                    <ion-input no-lines type="text" formControlName="othereps" [class.invalid]="!registerForm.controls.othereps.valid && registerForm.controls.othereps.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Arl*</ion-label>
                    <ion-select [(ngModel)]="arlselected" placeholder="Selecciona tu Arl" formControlName="arl" [class.invalid]="!registerForm.controls.arl.valid && registerForm.controls.arl.touched">
                        <ion-select-option *ngFor="let arll of arl;let i=index" value="{{arll.id_arl}}">{{arll.arl}}</ion-select-option>
                        <ion-select-option value="other">Otro</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="arlselected == 'other'" class="btm-blue">
                    <ion-label position="fixed">Cuál Arl</ion-label>
                    <ion-input no-lines type="text" formControlName="otherarl" [class.invalid]="!registerForm.controls.otherarl.valid && registerForm.controls.otherarl.touched"></ion-input>
                </ion-item>

                <ion-item class="btm-blue">
                    <ion-label position="fixed">Conta. Emergencia</ion-label>
                    <ion-input no-lines type="text" formControlName="contact" placeholder="Contacto Emergecia (Opcional)" [class.invalid]="!registerForm.controls.contact.valid && registerForm.controls.contact.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Tel Contacto</ion-label>
                    <ion-input no-lines type="number" formControlName="telcontact" placeholder="Telefono Contacto Emergecia (Opcional)" [class.invalid]="!registerForm.controls.telcontact.valid && registerForm.controls.telcontact.touched"></ion-input>
                </ion-item>
                <ion-button expand="block" class="m-btn-r btn-red-3d" (click)='register()'>Continuar</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>