<ion-header>
    <ion-toolbar>
        <ion-title text-center class="no-border">Datos del visitante</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card no-margin>
        <ion-card-content class="m-card-content">
            <ion-card-header text-center>
                Documento de identidad
            </ion-card-header>
            <form [formGroup]="documentForm" novalidate>
                <ion-grid>
                    <ion-radio-group formControlName="type">
                        <ion-row>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label>Cedula de ciudadania</ion-label>
                                    <ion-radio slot="start" checked (click)="another()" value="1"></ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label>cédula extranjera</ion-label>
                                    <ion-radio slot="start" (click)="another()" value="2"></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label>Pasaporte</ion-label>
                                    <ion-radio slot="start" (click)="another()" value="3"></ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label>Otro</ion-label>
                                    <ion-radio slot="start" (click)="other()" value="other"></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                    <ion-item class="btm-blue" *ngIf="isother">
                        <ion-label position="fixed">Cual otro?</ion-label>
                        <ion-input no-lines type="text" formControlName="other" [class.invalid]="!documentForm.controls.other.valid && documentForm.controls.other.touched"></ion-input>
                    </ion-item>
                </ion-grid>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Documento</ion-label>
                    <ion-input no-lines type="number" formControlName="document" [class.invalid]="!documentForm.controls.document.valid && documentForm.controls.document.touched"></ion-input>
                </ion-item>
                <ion-button expand="block" class="m-btn-r btn-red-3d" (click)='verify()'>Continuar</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>