<ion-content padding>
    <div class="contain backimage" margin-top="32px">
        <ion-grid>
            <ion-row>
                <ion-col class="logo" size="12" align-self-center text-center>
                    <h1>Reception</h1>
                </ion-col>
                <ion-col class="accent-text ion-margin-vertical" size="12" align-items-center text-center>
                    <form [formGroup]="loginForm" novalidate>
                        <ion-card text-center>
                            <ion-card-header>
                                <ion-card-title>Bienvenido</ion-card-title>
                                <ion-card-subtitle>Inicia sesión con el perfil de administrador</ion-card-subtitle>
                            </ion-card-header>
                            <ion-item>
                                <ion-label position="floating">Correo</ion-label>
                                <ion-input type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.touched"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Contraseña</ion-label>
                                <ion-input type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.touched"></ion-input>
                            </ion-item>
                            <ion-button (click)="login()" class="m-15p" ion-button block expand="block">
                                <ion-icon slot="start " name="tablet-landscape"></ion-icon>
                                Iniciar Sesión</ion-button>
                        </ion-card>
                    </form>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>