.logo {
    border-bottom: 2px solid var(--ion-color-primary-tint);
    padding-bottom: 32px;
}

.m-15p {
    margin: 15px;
}

.logo-img {
    height: 105px;
}

.accent-text {
    color: var(--ion-color-primary);
}

ion-input {
    --color: var(--ion-color-primary-tint);
    text-align: center;
    border-bottom: 1px solid var(--ion-color-primary-tint);
    --placeholder-opacity: 1;
}

.backimage {
    background-image: url('../../assets/img/back.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.bg-red {
    background-color: #E02E39;
}

ion-content {
    --background: #ffffff;
    .contain {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        padding-top: 16px;
        ion-grid {
            width: 100%;
        }
        .end-button {
            margin-top: auto !important;
            border-radius: 0;
            ion-col {
                margin: 15px 0;
                &:first-child {
                    border-right: 1px solid var(--ion-color-secondary);
                }
            }
            ion-button {
                margin: 0 auto;
                display: block;
                font-size: 10px
            }
        }
    }
}