<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title text-center class="center-title">Cuéntanos!</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-title text-center>¿A quien visitas?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content margin>
    <ion-card class="card-max backimage" no-margin>
        <ion-grid>
            <form [formGroup]="finalizeForm" novalidate>
                <div>
                    <ion-searchbar (ionInput)="getItems($event)" placeholder="Ingresa el nombre de la persona"></ion-searchbar>
                    <ion-list>
                        <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)">
                            <ion-list-header>
                                <ion-label>Name</ion-label>
                            </ion-list-header>

                            <ion-item *ngFor="let user of users" (ionFocus)="radioFocus()" (ionSelect)="radioSelect($event)" (ionBlur)="radioBlur()">
                                <ion-label>{{user.name}}</ion-label>
                                <ion-radio slot="start" name="{{user.name}}" value="{{user.id_user}}"></ion-radio>
                            </ion-item>

                        </ion-radio-group>
                    </ion-list>
                </div>
                <ion-button expand="block" class="m-btn-r m-px-12" (click)="final()">Finalizar</ion-button>
            </form>
        </ion-grid>
    </ion-card>

</ion-content>