.center-title {
    margin-right: 40px !important;
}

.card-max {
    height: 100%;
    border-bottom: 6px solid;
}

.mt-12 {
    margin-top: 12%;
}

.m-px-12 {
    margin: 16px
}

ion-button {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (min-height:300px) and (max-height: 375px) {
    .card-max {
        height: 400px;
    }
}

.card-down {
    background-color: white;
}

.backimage {
    background-image: url('../../assets/img/back.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

@media screen and (min-height:768px) and (min-height: 1000px) {
    ion-grid {
        margin-top: 160px !important;
    }
}