<ion-header>
    <ion-toolbar>
        <ion-title text-center>Bienvenido de nuevo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let data of datauser" class="backimage" no-margin>
        <ion-card-content class="m-card-content">
            <p>Los campos con * son obligatorios</p>
            <form [formGroup]="updateForm" novalidate>
                <ion-item class="btm-blue" text-center>
                    <ion-grid>
                        <ion-row text-center>
                            <ion-col size="2"></ion-col>
                            <ion-col size="8">
                                <img *ngIf="new == false" (click)='takepicture()' src="http://localhost:8888/adminlte-generator/public/upload/{{data.id}}/{{data.avatar}}" alt="">
                                <img *ngIf="new == true" [src]="base64image" alt="">
                                <p (click)='takepicture()'>Cambiar</p>
                            </ion-col>
                            <ion-col size="2"></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Nombres*</ion-label>
                    <ion-input type="text" formControlName="name" [class.invalid]="!updateForm.controls.name.valid && updateForm.controls.name.touched" value="{{data.name}}"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Apellidos*</ion-label>
                    <ion-input type="text" formControlName="lastname" [class.invalid]="!updateForm.controls.lastname.valid && updateForm.controls.lastname.touched" value="{{data.lastname}}"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Email*</ion-label>
                    <ion-input type="text" formControlName="email" [class.invalid]="!updateForm.controls.email.valid && updateForm.controls.email.touched" value="{{data.email}}"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Telefono*</ion-label>
                    <ion-input type="text" formControlName="phone" [class.invalid]="!updateForm.controls.phone.valid && updateForm.controls.phone.touched" value="{{data.phone}}"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Contacto de emergencia</ion-label>
                    <ion-input type="text" formControlName="contact" [class.invalid]="!updateForm.controls.contact.valid && updateForm.controls.contact.touched" value="{{data.contact_person}}"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label position="fixed">Numero contacto de emergencia</ion-label>
                    <ion-input type="text" formControlName="telcontact" [class.invalid]="!updateForm.controls.telcontact.valid && updateForm.controls.telcontact.touched" value="{{data.number_person}}" placeholder="Numero contacto de emergencia">
                    </ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Rh*</ion-label>
                    <ion-select #RH (ionChange)="showVal(RH.value)" placeholder="Selecciona tu Rh">
                        <ion-select-option *ngFor="let rhh of rh;let i=index" [selected]="rhh.id == rhselected" value="{{rhh.id}}">{{rhh.rh}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Eps*</ion-label>
                    <ion-select #EPS (ionChange)='onChangeTimeEps(EPS.value)' placeholder="Selecciona tu Eps">
                        <ion-select-option *ngFor="let epss of eps;let i=index" [selected]="epss.id_eps == epsselected" value="{{epss.id_eps}}">{{epss.eps}}</ion-select-option>
                        <ion-select-option value="other">Otro</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="showothereps == true" class="btm-blue">
                    <ion-label position="fixed">Cual Eps</ion-label>
                    <ion-input no-lines type="text" formControlName="othereps" [class.invalid]="!updateForm.controls.othereps.valid && updateForm.controls.othereps.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Arl*</ion-label>
                    <ion-select #ARL (ionChange)='onChangeTimeArl(ARL.value)' placeholder="Selecciona tu Arl">
                        <ion-select-option *ngFor="let arll of arl;let i=index" [selected]="arll.id_arl == arlselected" value="{{arll.id_arl}}">{{arll.arl}}</ion-select-option>
                        <ion-select-option value="other">Otro</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="showotherarl == true" class="btm-blue">
                    <ion-label position="fixed">Cual Arl</ion-label>
                    <ion-input no-lines type="text" formControlName="otherarl" [class.invalid]="!updateForm.controls.otherarl.valid && updateForm.controls.otherarl.touched"></ion-input>
                </ion-item>
                <ion-item class="btm-blue">
                    <ion-label>Empresa*</ion-label>
                    <ion-select placeholder="Selecciona tu Empresa" #Company (ionChange)='onChangeTimeCompany(Company.value)'>
                        <ion-select-option *ngFor="let company of companies;let i=index" [selected]="company.id_company == companyselected" value="{{company.id_company}}">{{company.company}}</ion-select-option>
                        <ion-select-option value="other">Otro</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="showothercompany == true" class="btm-blue">
                    <ion-label position="fixed">Cual Empresa</ion-label>
                    <ion-input no-lines type="text" formControlName="othercompany" [class.invalid]="!updateForm.controls.othercompany.valid && updateForm.controls.othercompany.touched"></ion-input>
                </ion-item>

                <ion-button expand="block" class="m-btn-r btn-red-3d" (click)='updateData()'>Continuar</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>