<ion-content padding>
    <div class="contain backimage" margin-top="32px">
        <ion-grid>
            <ion-row>
                <ion-col class="logo" size="12" align-self-center text-center>
                    <img class="logo-img" src="http://localhost:8888/adminlte-generator/public/logos/{{configuration.id}}/{{configuration.logo}}" alt="Reception" />
                </ion-col>
                <ion-col class="accent-text ion-margin-vertical" size="12" align-items-center text-center>
                    Bienvenido <br>
                    <small>Si la información no es correcta porfavor utiliza el boton "otro"</small>
                </ion-col>
                <ion-col class="accent-text ion-margin-vertical" size="12" align-items-center text-center>
                    ¿Cuál es tu tipo de documento?
                </ion-col>
                <ion-col margin-top="42px " size="12 " align-items-center text-center>
                    <ion-button expand="block " (click)="scan()">
                        <ion-icon slot="start " name="tablet-landscape"></ion-icon>
                        Cedula Colombiana
                    </ion-button>
                </ion-col>
                <ion-col margin-top="42px " size="12 " align-items-center text-center>
                    <ion-button [routerLink]="['/document'] " expand="block ">
                        <ion-icon slot="start " name="tablet-landscape"></ion-icon>
                        Otro
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>